<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About Aaron...</h4>
    <p>Aaron is an aspiring developer.  When he isn't studying and attempting to code, he plays husband, father of four, Cub Scout den leader, and blackjack dealer.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->

