<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

			<div class="row">
				<div class="col-md-4">

					<%= image_tag "me and liam.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
				</div>

				<div class="col-md-8">
					<div class="shortbio">Aspiring web developer, perspiring student, father, husband, and US Army veteran.  Making a career change to become a developer took a giant leap of faith.  In my short time learning the craft, I am satisfied with my choice.  I am excited for the future and to see what kind of opportunities we can make!
				</div>


							<div class="jobbutton">
<!-- 								<button 
									class="btn btn-primary"
									type="button"
									data-toggle="collapse"
									data-target="#jobHistory"
									aria-expanded="false"
									aria-controls="jobHistory"
								>
									Job History
								</button> -->

								<button 
									class="btn btn-success"
									type="button"
									data-toggle="collapse"
									data-target="#education"
									aria-expanded="false"
									aria-controls="education"
								>
									Education
								</button>
							</div>

								<p>
<!-- 									<div class="collapse" id="jobHistory">
										<div class= "card card-block">

										</div>
									</div> -->
								
									<div class="collapse" id="education">
										<div class= "card card-block">
											University of Colorado Denver;
												BA Criminal Justice, Dec 2012
										</div>
										<div class= "card card-block">
											Bottega Tech, Lehi, UT Sept 2017
										</div> 
									</div>
								</p>



				</div>
			</div>
	</div>
</div>


