<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">

		<%= image_tag "meatihop.jpg", width: 300, alt: "Profile Image" %>
	</div>

	<div class="col-md-8">
		<p>Aspiring web developer, perspiring student, father, and US Army veteran.</p>

	</div>
</div>

