<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

			<div class="row">
				<div class="col-md-4">

					<%= image_tag "me and liam.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
				</div>

				<div class="col-md-8">
					<div class="shortbio">Aspiring web developer, perspiring student, father, husband, and US Army veteran.  Making a career change to become a developer took a giant leap of faith.  In my short time learning the craft, I am satisfied with my choice.  I am excited for the future and to see what kind of opportunities we can make!
					</div>
				</div>
			</div>
	</div>
</div>


