<h1>Contact me</h1>

<p><%= number_to_phone "720.984.4709" %></p>

<p><a href="mailto: ahrob27@gmail.com?subject=PortfolioContact" "email">email</a> </p>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.033414757647!2d-111.89219690971753!3d40.43062894551066!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x865ac5eda44125a!2sBottega!5e0!3m2!1sen!2sus!4v1501532527822" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe> -->
